#header{
    background-color: rgb(109, 238, 238);
    text-align: center;
    padding:10%
    height:155px;
    border:1px solid blue;
    box-sizing: border-box;
    margin:20%;
    
}

.move{
    text-align: center;
    padding-top:10%;
}